a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.custom-card {
    border: none; 
    box-shadow: none; 
}

.details{
    margin-top:100px;
    margin-bottom: 100px;
}

#about-menu {
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(186,236,246,1) 100%);
    padding-top:200px;
    padding-bottom: 200px;
}

.h1-p-spacing {
    margin-bottom: 300px;
}
